:root {
  --incPurpleMain: #800080;
  --incBlackPurple: #1F0208;
  --incWhite: #feffe2;
  --trueWhite: #ffffff;
  --incDeepPurple: #3E044D; 
  --incLightPurple: #D07EE6; 
  --incMarroonPurple: #4D0435;
}.TemplateTitle{
	display:none;
}
/*Spell Browser*/
.spell-tags .bigSpace{
    display:inline-block;
	min-width:3px;
	max-width:5px;
}.spell-tags .smallSpace{
    display:inline-block;
	min-width: 1px;
	max-width:3px;
}#incBSpells .mainBlock{
	height:100%;
	display:flex;
	flex-direction:row;
}#incBSpells .mainBlock .IncarnateLeftPane{
	flex:1 0 100px;
	overflow-y:auto;
}#incBSpells .mainBlock .incarnateRightSide{
	flex:2 0 200px;
	overflow-y:none;
	display:flex;
	flex-direction:column;
}#incBSpells .mainBlock .incarnateRightSide .incarnateDragAll{
	flex: 0 0 30px;
}#incBSpells .mainBlock .incarnateRightSide ol.directory-list{
	flex: 1;
	overflow-y:auto;
	height:calc(100% - 30px);
}
/*Bestiary Browser*/
.beast-tags .bigSpace{
    display:inline-block;
	min-width:3px;
	max-width:5px;
}.beast-tags .smallSpace{
    display:inline-block;
	min-width: 1px;
	max-width:3px;
}#incBBestiary .mainBlock{
	height:100%;
	display: flex;
	flex-direction: row;
}#incBBestiary .mainBlock .bestiaryLeftPane{
	flex: 1 0 150px;
	display:inline-block;
	overflow-y:auto;
	height:100%;
}#incBBestiary .mainBlock .rightSide{
	flex: 6 1;
}#incBBestiary .rightSide .extra-nesting{
	max-height:100%;
	display:flex;
	flex-direction:column;
}#incBBestiary .mainBlock nav{
	flex: 0 0 auto;
}#incBBestiary .mainBlock ol.tab{ 
	flex: 1 1;
	overflow-y:auto;
}#incBBestiary .mainBlock div.randomEncounterList{
	flex: 1 1;
	overflow-y:hidden;
	position: relative;
}#incBBestiary .mainBlock div.randomEncounterList.active{
	display:flex;
	flex-direction:column;
}#incBBestiary ol.tab li{
	display:flex;
	flex-direction:row;
}#incBBestiary ol.tab li img{
	flex: 0 1 auto;
}#incBBestiary ol.tab li h4{
	flex: 1 4;
}#incBBestiary ol.tab li .beast-tags{
	flex: 0 1 auto;
}#incBBestiary .mainBlock .tabs a.active{
	border-style:inset;
	border-radius: 4px;
	border-bottom-style:none;
}#incBBestiary .mainBlock div.tab .extra-nesting{
	display:flex;
	flex-direction:column;
}#incBBestiary #randomEncounterList p{
	flex:0 0 auto;
	display: flex;
	flex-direction:row;
}#incBBestiary #randomEncounterList p input{
	flex: 1 1;
	max-width:70px;
}#incBBestiary #randomEncounterList p span{
	flex: 0 0 auto;
}#incBBestiary #randomEncounterList .buttonRow{
	flex:0 0 auto;
	display:flex;
	flex-direction:row;
}#incBBestiary .buttonRow input{
	max-width:35px;
}#incBBestiary .buttonRow p{
	flex:1 1 auto;
}#incBBestiary .buttonRow button{
	flex:1 1 auto;
}#incBBestiary #randomEncounterList ol{
	overflow-y:scroll;
	flex: 1 1;
}#incBBestiary .randomEncounters li{
	list-style-type:none;
	margin-left:0px;
	margin-bottom:10px;
	margin-right:0px;
	margin-top:10px;
	padding:0;
	display:flex;
	flex-direction:row;
}#incBBestiary .randomEncounters li div.beastNames{
	flex:4 0;
}#incBBestiary .randomEncounters li div p{
	margin:0;
	padding:0;
}#incBBestiary .randomEncounters li div.encounterXp{
	flex:1 1;
	margin-top:auto;
	margin-bottom:auto;
}
/*Equipment Browser*/
.equipment-tags .bigSpace{
    display:inline-block;
	min-width:3px;
	max-width:5px;
}.equipment-tags .smallSpace{
    display:inline-block;
	min-width: 1px;
	max-width:3px;
}#incBEquipment .mainBlock{
	height:100%;
	display:flex;
	flex-direction:row;
}#incBEquipment .mainBlock .equipmentLeftPane{
	float:left;
	overflow-y:scroll;
	flex: 1;
}#incBEquipment .mainBlock .equipmentLeftPane input[type="number"]{
	max-width:100%;
}#incBEquipment .mainBlock ol{
	flex: 2;
	overflow-y:auto;
}
/*Class Browser*/
.class-tags .bigSpace{
    display:inline-block;
	min-width:3px;
	max-width:5px;
}.class-tags .smallSpace{
    display:inline-block;
	min-width: 1px;
	max-width:3px;
}#incBClass .mainBlock{
	height:100%;
	display:flex;
	flex-direction:row;
}#incBClass .mainBlock .incClassLeftPane{
	flex:1;
	overflow-y:auto;
}#incBClass .mainBlock ol{
	flex:2;
	overflow-y:auto;
}
ol.pack-content.directory-list li.directory-item h4.incarnate-entry-name{
	display:flex;
	flex-direction:column;
}
ol.pack-content.directory-list li.directory-item h4.incarnate-entry-name a{
	flex: 1 0;
	max-height:17px;
}
/*Race Browser*/
#incBRace .mainBlock{
	height:100%;
	display:flex;
	flex-direction:row;
}#incBRace .mainBlock .incRaceLeftPane{
	flex:1;
	overflow-y:auto;
}#incBRace .mainBlock ol{
	flex:2;
	overflow-y:auto
}
/* Fix Default Character Sheet @media screen and (max-height: 723px) */
.dnd5e.actor .class-levels .class-header a.item-create{
	right: 5px;
}
.dnd5e.actor .abilities.active{
	overflow-y:hidden;
	display: flex;
	flex-direction:column;
}
.dnd5e.actor .abilities .abilities-list{
	flex: 0 0 auto;
}.dnd5e.actor .abilities section.class-levels{
	display:flex;
	flex-direction:column;
	flex: 1 2;
	overflow-y:auto;
}
.dnd5e.actor .abilities section.class-levels header.class-header{
	flex: 0 0 auto;
}
.dnd5e.actor .abilities section.class-levels ol.class-list{
	flex: 1;
}
.dnd5e.actor .class-levels .class-list .item .item-header{
	display: flex;
}
.dnd5e.actor .class-levels .class-list .item .item-header h4{
	flex: 1 2;
	overflow:hidden;
	font-weight:bold;
}
.dnd5e.actor .class-levels .class-list .item .item-header .class-levels{
	flex: 0 0 auto;
	overflow:hidden;
}
.dnd5e.actor.character-sheet .class-levels .class-list.inventory-list.directory-list{
	height:100%;
	overflow-y:visible;
}
.dnd5e.actor.character-sheet div.class-subclass{
	overflow:hidden;
}
.dnd5e.actor.character-sheet .incarnateLog .row{
	display:flex;
}
.dnd5e.actor.character-sheet .incarnateLog .column{
	display:flex;
	flex-direction:column;
}
.dnd5e.actor.character-sheet .incarnateLog .flex{
	flex: 1;
}
.dnd5e.actor.character-sheet .incarnateLog .flex-auto{
	flex: 0 0 auto;
}
.dnd5e.actor.character-sheet .incarnateLog .flex-static{
	flex: 0 0 140px;
}
.dnd5e.actor.character-sheet .incarnateLog .fas{
	margin:3px;
}
.dnd5e.actor.character-sheet .incarnateLog{
	margin-left:6px;
	display:none;
	flex-direction:column;
}
.dnd5e.actor.character-sheet .incarnateLog.active{
	display:flex;
	overflow:auto;
	height:100%;
}
.dnd5e.actor.character-sheet .incarnateLog .log-totals-heading{
	font-size:24px;
	font-weight:bold;
}
.dnd5e.actor.character-sheet .incarnateLog .log-totals-attributes span{
	font-size:18px;
}
.dnd5e.actor.character-sheet .incarnateLog .incarnate-log .name{
	font-size:16px;
	border-top:1px solid gray;
}
.dnd5e.actor.character-sheet .incarnateLog .incarnate-log .attributes span, .dnd5e.actor.character-sheet .incarnateLog .incarnate-log .attributes button{
	font-size:15px;
}
.dnd5e.actor.character-sheet .incarnateLog .incarnate-log .editor-content{
	min-height:100px;
}
.dnd5e.actor.character-sheet .incarnateLog .incarnate-log .header{
	font-weight:bold;
}
.dnd5e.actor.character-sheet .incarnateLog .incarnate-log[data-desc-hidden] .editor,
.dnd5e.actor.character-sheet .incarnateLog .incarnate-log[data-items-hidden] .log-items,
.dnd5e.actor.character-sheet .incarnateLog .incarnate-log[data-granter-hidden] .granter{
	display:none;
}
/*Background Browser*/
#incBBackground .mainBlock{
	height:100%;
	display:flex;
	flex-direction:row;
}#incBBackground .mainBlock .BackgroundLeftPane{
	flex:1;
	overflow-y:auto;
}#incBBackground .mainBlock ol{
	flex:2;
	overflow-y:auto
}
/*Item Parcel Formating*/
.editable .incarnate-item-parcel-items {
	height: 100%;
	display: flex;
	flex-direction: column;
}.itemParcel .incarnate-item-parcel-items .incarnate-parcel-header{
	flex: 0 0 auto;
	display: flex;
}.itemParcel .incarnate-parcel-header h2.incarnateDragAll{
	border:inset;
}.incarnate-parcel-header h1.parcel-name{
	flex: 3 1 ;
}.incarnate-parcel-header h2.xpLabel{
	flex: 1 1 auto;
}.incarnate-parcel-header input.xpAward{
	flex: 0 1 70px;
	max-width: 70px;
}.itemParcel .currency {
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 12px;
	display: grid;
	grid-template-areas:
	"label-drop pp-coin-drop gp-coin-drop ep-coin-drop sp-coin-drop cp-coin-drop"
	"label-claim pp-coin-claim gp-coin-claim ep-coin-drop sp-coin-claim cp-coin-claim";
	grid-auto-columns:auto;
}.itemParcel .currency li.label{
	font-weight:bold;
}.itemParcel .currency li.denomination {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 3px 3px 0;
  justify-content: flex-end;
  border-right: 1px solid #CCC;
}.itemParcel .currency li.denomination > * {
  flex: 1;
}.itemParcel .currency li.denomination label {
  flex: none;
  margin-right: 3px;
}.itemParcel .currency li.denomination input, .itemParcel .currency li.denomination span {
  text-align: right;
  max-width: 66px;
  background: none;
}.itemParcel .currency li.denomination span{
	text-align: center;
}.itemParcel .currency li.denomination:last-child {
  border-right: none;
}.itemParcel div.parcel-buttons{
	display:flex
}.itemParcel .parcel-buttons button{
	flex:1 1;
}.editable .incarnate-item-parcel-items .item-parcel-body {
	overflow-y:hidden;
	flex:5 2;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  /* Inventory Item */
  /* Inventory Header */
}.itemParcel .item-parcel-body .item-parcel-coins{
	flex: 0 0 auto;
}.itemParcel .item-parcel-contents{
	flex: 1 2;
	overflow-y: auto;
	padding: 0 0 0 0;
}.itemParcel .item-parcel-body .item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  line-height: 24px;
  padding: 0;
  border-bottom: 1px solid #CCC;
  /* Item Dropdown Summary */
}.itemParcel .item-parcel-body .item > * {
  flex: 1;
}.itemParcel .item-parcel-body .item .item-name {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  cursor: pointer;
}.itemParcel .item-parcel-body .item .item-name > * {
  flex: 1;
}.itemParcel .item-parcel-body .item .item-name .item-image {
  flex: 0 0 24px;
  margin-right: 6px;
  background-size: 24px;
  background-repeat: no-repeat;
}.itemParcel .item-parcel-body .item .item-name h4 {
  flex: 2;
  margin: 0;
}.itemParcel .item-parcel-body .item .item-name .prepared {
  color: #666;
  margin-left: 3px;
  font-size: 10px;
}.itemParcel .item-parcel-body .item .item-name .item-charges {
  color: #666;
  font-size: 12px;
  flex: 0;
}.itemParcel .item-parcel-body .item .item-quantity,.itemParcel .item-parcel-body .item .item-weight,.itemParcel .item-parcel-body .item .item-value {
  flex: 0 0 32px;
  font-size: 12px;
  color: #666;
  text-align: center;
  border-right: 1px solid #CCC;
}.itemParcel .item-parcel-body .item .item-value{
	flex: 0 0 50px;
}.itemParcel .item-parcel-body .item .item-controls {
  flex: 0 0 44px;
}.itemParcel .item-parcel-body .item .item-controls a {
  display: block;
  float: left;
  width: 22px;
  font-size: 10px;
  text-align: center;
  color: #666;
}.itemParcel .item-parcel-body .item .item-controls a.incarnate-create{
	width: 100%;
}.itemParcel .item-parcel-body .item .item-summary {
  flex: 0 0 100%;
  font-size: 12px;
  line-height: 16px;
  padding: 0.25em 0.5em;
  border-top: 1px solid #CCC;
}.itemParcel .item-parcel-body .inventory-header {
  font-weight: 700;
  line-height: 20px;
  background: rgba(0, 0, 0, 0.05);
}.itemParcel .item-parcel-body .inventory-header h3 {
  font-size: 1em;
  margin: 0;
  padding-left: 32px;
  font-weight: bold;
}.itemParcel .item-parcel-body .inventory-header .item-quantity,.itemParcel .item-parcel-body .inventory-header .item-weight, .itemParcel .item-parcel-body .inventory-header .item-value{
  color: #111;
}.itemParcel .item-parcel-body .inventory-header .item-controls a.item-create {
  width: 100%;
}.itemParcel .item-parcel-body .inventory-header span.item-gv{
	flex: 0.1 0 30px;
}.itemParcel .incarnate-item-parcel-items .defeatedNpcs{
	flex: 0 0 auto;
	border-style: inset;
	border-width: 3px;
	border-radius: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align:center;
}.itemParcel .defeatedNpcs span{
	font-weight:bold;
	font-size:16px;
}
/*Custom Character Sheet*/
.incarnate-pc form div.incarnateActorSheet .hidden{
	display:hidden;
}
.incarnate-pc .flex{
	flex: 1;
}
.incarnate-pc .flex-auto{
	flex: 0 0 auto;
}
.incarnate-pc .row{
	display:flex;
	flex-direction:row;
}
.incarnate-pc .column{
	display:flex;
	flex-direction:column;
}
.incarnate-pc ol{
	list-style-type:none;
	padding:0;
}
.incarnate-pc form .incarnateActorSheet input[type="number"] ,.incarnate-pc form .incarnateActorSheet input[type="text"]{
	color:#444;
	width:calc(100% - 2px);
	height:calc(100% - 2px);
	background:none;
	padding:0;
	margin: 1px 0;
	border: 1px solid transparent;
	min-width: 20px;
	border-radius: 3px;
	text-align:inherit;
	line-height:inherit;
}
.incarnate-pc input[type="number"]::-webkit-outer-spin-button, .incarnate-pc input[type="number"]::-webkit-inner-spin-button{
	-webkit-appearance: none;
	margin:0;
}
.incarnate-pc form, .incarnate-pc .incarnateActorSheet, .incarnate-pc .page1{
	overflow:hidden;
	height:100%;
}
.incarnate-pc .page-columns{
	overflow:hidden;
}
.incarnate-pc .incCol1, .incarnate-pc .incCol2, .incarnate-pc .incCol3{
	overflow-x:hidden;
	overflow-y:auto;
}
.incarnate-pc .frame{
	border:solid;
	border-width: 1px;
	padding: 5px;
	margin: 5px;
	border-radius:10px;
}
/*Header*/
.incarnate-pc .incHeader{
	flex:0 0 auto;
	display:flex;
	flex-direction:row;
}
.incarnate-pc .incHeader .actorName{
	flex:1 0 50px;
}
.incarnate-pc .incHeader .actorName input[type="text"]{
	font-size: 20px;
}
.incarnate-pc .incHeader .details{
	flex: 2;
	display:flex;
	flex-direction:column;
}
.incarnate-pc .abilitiesSkills .skill-column-holder.flex{
	flex: 5;
	padding-left: 4px;
	padding-right: 4px;
}
/*Page 1*/
/*Column 1*/
.incarnate-pc .abilitiesSkills .abilities{
	padding-left: 0;
	padding-right: 2px;
	flex: 2;
}
.incarnate-pc .abilitiesSkills .abilities li{
	margin-top:5px;
	margin-bottom:5px;
	border-style: solid;
	border-width: 1px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.incarnate-pc .abilitiesSkills .abilities input[type="text"], .incarnate-pc .abilitiesSkills .abilities input[type="number"]{
	text-align:center;
	font-size: 30px;
}
.incarnate-pc .abilitiesSkills .abilities span{
	margin:auto;
	width:fit-content;
	display:block;
}
.incarnate-pc .abilitiesSkills .skill-column-holder .inspiration{
	border:solid;
	border-width: 1px;
	padding-top: 5px;
	padding-bottom: 5px;
	position:relative;
	height:20px;
	margin-top:15px;
	margin-bottom:15px;
}
.incarnate-pc .abilitiesSkills .skill-column-holder .inspiration input{
	border:solid;
	border-width: 1px;
	text-align:center;
	position:absolute;
	left: -2px;
	top: -7px;
	height:30px;
	width:30px;
	background:url(../../ui/parchment.jpg) repeat;
}
.incarnate-pc .abilitiesSkills .skill-column-holder .inspiration .inspiration-label{
	position:absolute;
	left:35px;
	top:-1px;
	height:20px;
	padding-top: 2px;
	padding-bottom: 1px;
}
.incarnate-pc .abilitiesSkills .skill-column-holder .proficiency-bonus{
	border:solid;
	border-width: 1px;
	padding-top: 5px;
	padding-bottom: 5px;
	position:relative;
	height:20px;
	margin-top:15px;
	margin-bottom:15px;
	margin-left:15px;
}
.incarnate-pc .abilitiesSkills .skill-column-holder .proficiency-bonus .proficiency-modifier{
	border:solid;
	border-width: 1px;
	position:absolute;
	left: -17px;
	top: -7px;
	height:30px;
	width:30px;
	padding-top:4px;
	background:url(../../ui/parchment.jpg) repeat;
	text-align:center;
	border-radius:15px;
}
.incarnate-pc .abilitiesSkills .skill-column-holder .proficiency-bonus .proficiency-label{
	padding-bottom:1px;
	padding-top:2px;
	position:absolute;
	left:20px;
	top:-1px;
	height:20px;
}
.incarnate-pc .abilitiesSkills .skill-column-holder .incarnate-saving-throws{
	border:solid;
	border-width: 1px;
	padding: 5px;
	border-radius:10px;
}
.incarnate-pc .abilitiesSkills .skill-column-holder .incarnate-saving-throws .ability-proficiency, .incarnate-pc .abilitiesSkills .skill-column-holder .skills .skill-proficiency{
	flex: 0 0 auto;
}
.incarnate-pc .abilitiesSkills .skill-column-holder .incarnate-saving-throws .saving-modifier, .incarnate-pc .abilitiesSkills .skill-column-holder .skills .skill-modifier{
	flex: 0 0 20px;
	text-align-last: right;
	padding-right: 5px;
}
.incarnate-pc .abilitiesSkills .skill-column-holder .incarnate-saving-throws .saving-throws-label{
	display:block;
	margin:auto;
	font-weight:bold;
	width:fit-content;
}
.incarnate-pc .abilitiesSkills .skill-column-holder .skills{
	border:solid;
	border-width: 1px;
	padding: 5px;
	border-radius:10px;
}
.incarnate-pc .abilitiesSkills .skill-column-holder .skills .skills-label{
	display:block;
	margin:auto;
	font-weight:bold;
	width:fit-content;
}
.incarnate-pc .page1 .incCol1 .passive-perception{
	border:solid;
	border-width: 1px;
	padding-top: 5px;
	padding-bottom: 5px;
	position:relative;
	height:20px;
	margin-top:5px;
	margin-bottom:5px;
	margin-left:5px;
}
.incarnate-pc .page1 .incCol1 .passive-perception input{
	border:solid;
	border-width: 1px;
	padding-top: 5px;
	padding-bottom: 5px;
	position:absolute;
	left: -5px;
	top: -8px;
	height:30px;
	width:40px;
	padding-top:2px;
	background:url(../../ui/parchment.jpg) repeat;
	text-align:center;
	border-radius:15px;
}
.incarnate-pc .page1 .incCol1 .passive-perception .label{
	position:absolute;
	left:40px;
	top:-1px;
	height:20px;
}
.incarnate-pc .incarnateActorSheet .sense-create{
	float:right;
}
/*Page 1 Column 2*/
.incarnate-pc .page1 .incCol2 .row .frame input{
	text-align:center;
}
.incarnate-pc .page1 .incCol2 .row .frame span{
	text-align:center;
}
.incarnate-pc .page1 .incCol2 .current-hp, .incarnate-pc .page1 .incCol2 .statBlock .backslash{
	text-align:right;
	font-size:30px;
}
.incarnate-pc .page1 .incCol2 .max-hp{
	font-size:30px;
}
/*Region Settings*/
.incarnate-region-settings .flex{
	flex: 1;
}
.incarnate-region-settings .flex-right{
	flex: 1;
	text-align:right;
	margin-right:5px;
}
.incarnate-region-settings .flex-static{
	flex: 0 0 100px;
}
.incarnate-region-settings .flex-auto{
	flex: 0 0 auto;
}
.incarnate-region-settings .heading2{
	font-weight:2px;
	margin-bottom:3px;
}
.incarnate-region-settings .column{
	display:flex;
	flex-direction:column;
}
.incarnate-region-settings .row{
	display:flex;
	flex-direction:row;
}
.incarnate-region-settings input[type="number"]{
	width:50px;
}
.incarnate-region-settings .editable{
	display:flex;
	flex-direction:column;
}
.incarnate-region-settings .tabs{
	flex: 0 0 auto;
}
.dnd5e.sheet.incarnate-region-settings div.active{
	flex: 1;
	overflow-y:scroll;
}
.incarnate-region-settings .top-level{
	display:flex;
	flex-direction:column;
}
.incarnate-regions.top-level.backgrounds{
	float:left;
	display:block;
	flex-direction:unset;
}
.incarnate-regions.top-level.backgrounds .initial-description{
	flex:unset;
	flex-direction:column;
	width:70px;
	margin:5px;
}
.incarnate-regions.top-level.backgrounds .initial-description p{
	height:16px;
	overflow:hidden;
}
.incarnate-region-settings .contains-sub-category .top-level{
	border-top:1px solid;
	padding-top:5px;
	margin-top:5px;
}
.incarnate-region-settings .contains-sub-category .top-level .initial-description{
	flex: 0 0 auto;
	display:flex;
	flex-direction:row;
}
.incarnate-region-settings .contains-sub-category .top-level .entry-name{
	flex: 0 0 120px;
	font-size:15px;
	font-weight:bold;
	padding-right:2px;
	height:17px;
	overflow:hidden;
}
.incarnate-region-settings .contains-sub-category .top-level .incarnate-regions-input{
	flex: 0 0 auto;
	max-width:unset;
}
.incarnate-region-settings .contains-sub-category .top-level .archetypes{
}
.incarnate-region-settings .contains-sub-category .top-level .archetype-level{
	float:left;
	display:flex;
	flex-direction:column;
	width:110px;
	margin:5px;
}
.incarnate-region-settings .contains-sub-category .top-level .archetype-level p{
	flex: 0 0 34px;
	margin:0;
	overflow:hidden;
}
.incarnate-region-settings .contains-sub-category .top-level .archetype-level input{
	flex: 0 0 12px;
}
/*New Encounter Config*/
.incarnate-randomEncounter-settings .section .options label{
	width:fit-content;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}
.incarnate-randomEncounter-settings .row{
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
}
.incarnate-randomEncounter-settings .column{
	display:flex;
	flex-direction:column;
}
.incarnate-randomEncounter-settings .flex{
	flex: 1;
}
.incarnate-randomEncounter-settings .center{
	margin-left:auto;
	margin-right:auto;
}
.incarnate-randomEncounter-settings .section{
	border-bottom: 1px solid gray;
}
.incarnate-randomEncounter-settings .sectionHeading{
	font-size:20px;
	margin-left:auto;
	margin-right:auto;
	width:fit-content;
}
.incarnate-randomEncounter-settings.dnd5e.sheet.app .sectionHeading select{
	font-size:14px;
	height:20px;
	margin-left:7px;
}
.incarnate-randomEncounter-settings .flex-static{
	flex: 0 0 75px;
}
.incarnate-randomEncounter-settings .flex-static-big{
	flex: 0 0 150px;
}
.incarnate-randomEncounter-settings .flex-auto{
	flex: 0 0 auto;
}
.incarnate-randomEncounter-settings section.window-content form{
}
.incarnate-randomEncounter-settings div.contentPanes{
	overflow:hidden;
	height:100%;
}
.incarnate-randomEncounter-settings nav{
	border-right: 2px solid gray;
}
.incarnate-randomEncounter-settings nav a.item{
	text-align:left;
	display:flex;
	flex-direction:row;
	border-top: 1px solid gray;
	border-radius: 10px;
}
.incarnate-randomEncounter-settings nav .fas{
	flex: 0 0 15px;
	margin-top:auto;
	margin-bottom:auto;
}
.incarnate-randomEncounter-settings nav .label{
	flex: 1;
	margin-top:auto;
	margin-bottom:auto;
	margin-left:4px;
	margin-right:4px;
}
.incarnate-randomEncounter-settings div.contentPanes div.tab{
	display:none;
}
.incarnate-randomEncounter-settings div.contentPanes div.tab.active{
	display:flex;
	flex-direction:column;
	flex: 0 0 auto;
}
.incarnate-randomEncounter-settings .section .option span.label{
	text-align:center;
	color:gray;
	font-size:11px;
}
.incarnate-randomEncounter-settings .encounterName{
	font-size:18px;
}
.incarnate-randomEncounter-settings .section .options .option{
	margin: 2px 2px 2px 2px;
}
.incarnate-randomEncounter-settings button, .incarnate-randomEncounter-settings .settingsSection{
	margin-left:5px;
	margin-right:5px;
}
.incarnate-randomEncounter-settings .settingsSection label{
	text-align:center;
}
.incarnate-randomEncounter-settings .matchCheckResults{
	overflow-y:auto;
	margin-left:5px;
	margin-top:3px;
}
/*Gms Blind 5e Modifications*/
.incarnate-Gms-Blind .incarnateRandomEncounters button{
	width:unset;
}
.incarnate-Gms-Blind .incarnateRandomEncounters.tab[data-tab]{
	display:hidden;
}
.incarnate-Gms-Blind .incarnateRandomEncounters.tab[data-tab].active{
	display:flex;
	flex-direction:column;
	overflow-y:auto;
}
.incarnate-Gms-Blind .incarnateRandomEncounters .encounterSettings,.incarnate-Gms-Blind .incarnateRandomEncounters .beastLog{
	display:none;
}
.incarnate-Gms-Blind .incarnateRandomEncounters [data-status="settings"] .encounterSettings,.incarnate-Gms-Blind .incarnateRandomEncounters [data-status="log"] .encounterSettings{
	display:flex;
	flex-direction:column;
	border-bottom:1px dashed gray;
}
.incarnate-Gms-Blind .incarnateRandomEncounters .group-setting{
	margin: 0.1rem 0;
}
.incarnate-Gms-Blind .incarnateRandomEncounters .rolledEncounterHeadings{
	display:flex;
	font-weight:bold;
}
.incarnate-Gms-Blind .incarnateRandomEncounters .rolledEncounterHeadings .name{
	font-size:inherit;
}
.incarnate-Gms-Blind .incarnateRandomEncounters .rolledEncounterHeadings .quantity{
	flex:0 0 30px;
}
.incarnate-Gms-Blind .incarnateRandomEncounters .rolledEncounterHeadings .xp{
	flex: 0 0 80px;
	padding-left: 10px;
}
.incarnate-Gms-Blind .incarnateRandomEncounters .rolledEncounters .generatedEncounter{
	margin-top:7px;
	margin-bottom:7px;
	display:flex;
	flex-direction:row;
	border: 1px solid gray;
    border-radius: 10px;
    padding-left: 5px;
}
.incarnate-Gms-Blind .incarnateRandomEncounters .rolledEncounters .generatedBeasts{
	flex:1;
}
.incarnate-Gms-Blind .incarnateRandomEncounters .rolledEncounters .totalXP{
	margin-top:auto;
	margin-bottom:auto;
	flex: 0 0 80px;
	padding-left:10px;
}
.incarnate-Gms-Blind .incarnateRandomEncounters .rolledEncounters .beast{
	display:flex;
	flex-direction:row;
	margin:unset;
}
.incarnate-Gms-Blind .incarnateRandomEncounters .rolledEncounters .beast .quantity{
	flex: 0 0 30px;
}
.incarnate-Gms-Blind .incarnateRandomEncounters .rolledEncounters .beast .name{
	flex: 1;
	font-weight:normal;
	font-size:inherit;
}
.incarnate-Gms-Blind .incarnateRandomEncounters [data-status="log"] .beastLog{
	display:flex;
	flex-direction:column;
}
.incarnate-Gms-Blind .incarnateRandomEncounters .encounterDiv{
	overflow:visible;
	padding-right:3px;
}
.incarnate-Gms-Blind .incarnateRandomEncounters .encounterHeading{
	margin-top:3px;
	margin-bottom:2px;
	border-bottom:1px solid gray;
}
.incarnate-Gms-Blind .incarnateRandomEncounters .rollCount{
	margin-top:auto;
	margin-bottom:auto;
}
.incarnate-Gms-Blind .incarnateRandomEncounters .weight{
	flex: 0 0 45px;
	max-width:45px;
	background:inherit;
	border:none;
	margin-top:auto;
	margin-bottom:auto;
}
.incarnate-Gms-Blind .incarnateRandomEncounters .name{
	flex: 1;
	background:inherit;
	border:none;
	font-weight:bold;
	font-size:18px;
}
.incarnate-Gms-Blind .incarnateRandomEncounters .encounterHeading .fas{
	margin-top:auto;
	margin-bottom:auto;
}
.incarnate-Gms-Blind .incarnateRandomEncounters p{
	margin: 0.1rem 0;
}
.incarnate-Gms-Blind .incarnateRandomEncounters input[type="number"]{
	height:15px;
	width:80px;
}
.incarnate-Gms-Blind .incarnateRandomEncounters .flex-static{
	flex: 0 0 200px;
}
.incarnate-Gms-Blind .incarnateRandomEncounters .beast .beastXP{
	flex:1;
	width:100px;
}
.incarnate-Gms-Blind .incarnateRandomEncounters [trashprimed="true"] .settingsTrash{
	color:#4C1919;
}
.incarnate-Gms-Blind .incarnateRandomEncounters .fas{
	margin-left:2px;
	margin-right:1px;
}
/*Item Display*/
.dnd5e.item .sheet-body select, .dnd5e.item .sheet-body input, .item-incarnate-flags .sheet-body .form-group span{
	max-width:224px;
}
.item-incarnate-flags .flex{
	flex: 1;
}
.item-incarnate-flags .flex-auto{
	flex: 0 0 auto;
}
.item-incarnate-flags .row{
	display:flex;
}
.item-incarnate-flags .column{
	display:flex;
	flex-direction:column;
}
.item-incarnate-flags .header{
	font-weight:bold;
}
.item-incarnate-flags .fas{
	margin:6px;
}
.item-incarnate-flags .section{
	margin-top:3px;
	margin-bottom:3px;
	padding:3px;
	border:1px solid gray;
	border-radius: 6px;
}
.item-incarnate-flags .incTraitSelector{
	flex: 0 0 auto;
}
.item-incarnate-flags .armorClass.active .header a.fa-plus.hideAc{
	display:none;
}
.item-incarnate-flags .armorClass:not(.active) .header a.fa-minus.hideAc{
	display:none;
}
.item-incarnate-flags .armorClass .armorClassDetails{
	display:none;
}
.item-incarnate-flags .armorClass.active .armorClassDetails{
	display:flex;
}
.item-incarnate-flags .armorClass .acAbility .column{
	padding-right:2px;
}
.item-incarnate-flags .armorClass .acAbility .fas{
	margin-top:auto;
	margin-bottom:auto;
}
.item-incarnate-flags ul{
	padding:0;
	list-style-type:none;
}
